In [5]:
5*7

35

In [6]:
a*b

NameError: name 'a' is not defined

In [7]:
a=4
b=9

In [8]:
a

4

In [9]:
b

9

In [10]:
a*b

36

In [11]:
dale_un_zape_a_Samuel()

NameError: name 'dale_un_zape_a_Samuel' is not defined

In [12]:
import numpy as np

a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
b = np.array([12, 14, 11, 10, 7, 8, 0, -3, 21])

print(a+b)
print(a*b)

[13 16 14 14 12 14  7  5 30]
[ 12  28  33  40  35  48   0 -24 189]

In [13]:
import matplotlib.pyplot as plt

plt.figure()
plt.plot(a,b)
plt.show()

In [17]:
%save "celda12.py" 12

The following commands were written to file `celda12.py`:
import numpy as np

a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
b = np.array([12, 14, 11, 10, 7, 8, 0, -3, 21])

print(a+b)
print(a*b)